@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #fff;
  height: 3000px;
}

header {
  max-width: 100%;
  height: 17%;
}
header .header__menu {
  background-color: #222;
  height: 20%;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__menu .header__list {
  padding: 0 0 0 12.5%;
  -webkit-transform: translate(0, 130%);
          transform: translate(0, 130%);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: calc(9px + 6 * (100vw / 1400));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__menu .header__list .sublogo {
  padding: 0 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__menu .header__list .sublogo h2 {
  color: #e5e5e5;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: calc(9px + 15 * (100vw / 1400));
}
header .header__menu .header__list a {
  color: #e5e5e5;
  padding: 0.5% 1.5%;
}
header .header__menu .header__list a:hover {
  background-color: #333;
  border-radius: 5px;
}
header .header__wrapper {
  padding: 0 12.5%;
}
header .header__wrapper .header__content {
  max-width: 80%;
  padding: 5% 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 200%;
  font-size: calc(9px + 6 * (100vw / 1400));
}
header .header__wrapper .header__content h2 {
  font-size: calc(9px + 20 * (100vw / 1400));
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2%;
  color: #444;
}
header .header__wrapper .header__content h3 {
  font-size: calc(9px + 15 * (100vw / 1400));
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2%;
  color: #444;
}
header .header__wrapper .header__content ol {
  padding: 0 0 3% 2%;
  margin-bottom: 2%;
  border-bottom: 2px solid #ccc;
}
header .header__wrapper .header__content ol li {
  font-weight: 600;
}
header .header__wrapper .header__content ol li a {
  color: #444;
}
header .header__wrapper .header__content ol li a:visited {
  color: #444;
}
header .header__wrapper .header__content .II {
  max-width: 80%;
}
header .header__wrapper .header__content .problems {
  margin-bottom: 2%;
  border-bottom: 2px solid #ccc;
}
header .header__wrapper .header__content .plus-ai .deepblue {
  max-width: 80%;
}
header .header__wrapper .header__content .plus-list .plus {
  padding-left: 2%;
}
header img {
  margin: 3% 0;
}

.back-to-top {
  position: fixed;
  right: 10%;
  bottom: 50%;
  background-color: #D1D1D1;
  width: calc(15px + 60 * (100vw / 1400));
  height: calc(15px + 60 * (100vw / 1400));
  border: 2px solid #888;
  border-radius: 50%;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.back-to-top::before {
  width: calc(4px + 3 * (100vw / 1400));
  height: calc(7px + 25 * (100vw / 1400));
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #959595;
}

.back-to-top::after {
  width: calc(5px + 15 * (100vw / 1400));
  height: calc(5px + 15 * (100vw / 1400));
  -webkit-transform: translate(-50%, -80%) rotate(45deg);
          transform: translate(-50%, -80%) rotate(45deg);
  border-top: calc(3px + 3 * (100vw / 1400)) solid #959595;
  border-left: calc(3px + 3 * (100vw / 1400)) solid #959595;
}

@media (max-width: 700px) {
  .sublogo {
    display: none;
    margin: 0;
    padding: 0;
  }
  .sublogo h2 {
    margin: 0;
    padding: 0;
    display: none;
  }

  .II, .deepblue {
    max-width: 120%;
  }
}